* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #1f1f1f;
  color: #f1f1f1;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000;
  padding: 10px 0;
  z-index: 99;
}

.menu ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 6px 12px;
}

.menu a:hover,
.menu a.active {
  background: #f7d332;
  color: #000;
  border-radius: 6px;
}

/* ===== CARDS ===== */
.container-lista {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px;
}

.card {
  background: #2c2c2c;
  width: 300px;
  border-radius: 8px;
  padding: 10px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.03);
  background: #3a3a3a;
}

/* ===== LOGIN ===== */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: rgba(255, 255, 255, 0.08);
  padding: 40px;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  width: 330px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box label {
  display: block;
  margin: 10px 0 5px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-bottom: 15px;
}

.login-box input:hover {
  box-shadow: 0 0 5px #f7d332;
}

.login-box button {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: #f7d332;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}

.login-box button:hover {
  opacity: 0.9;
}


@media (max-width: 1000px) {
  .card {
    width: 90%;
    max-width: 650px;
  }
}

@media (max-width: 535px) {
  .menu ul {
    flex-direction: column;
    gap: 10px;
  }

  .card {
    width: 100%;
  }
}
